mixin articles(articles)
	if (articles.length > 0)
		each article in articles
			block
			+article(article)
	else
		h1.no-matches No articles to display

mixin article(article)
	article.panel.panel-primary
		header.panel-heading
			h1 #{article.title}
			p
				span.glyphicon.glyphicon-tags
				strong  Tags:
				each tag in article.tags
					|  
					a.white-link(href='/tag?tag=#{tag}') #{tag}
				span.pull-right
					span.glyphicon.glyphicon-inbox
					strong  Category:
					|  
					a.white-link(href='/category?category=#{article.category}') #{article.category}
		
		.panel-body
			p #{article.text}

		footer.panel-footer
			span.glyphicon.glyphicon-user
			|  #{article.author}
			span.pull-right
				span.glyphicon.glyphicon-calendar
				|  #{article.date}

mixin projects(projects)
	- var project1 = undefined;
	- var project2 = undefined;
	each project, index in projects
		if (index%2 == 0)
			- project1 = project;
			if (index+1 == projects.length)
				block
				+project_pair(project1)
		else
			- project2 = project;
			block
			+project_pair(project1, project2)

mixin project_pair(project1, project2)
	.row
		if (project1 !== undefined)
			block
			+project(project1)

		if (project2 !== undefined)
			block
			+project(project2)

mixin project(project)
	section.col-md-6
		.thumbnail
			.thumbnail-img
				img.img-responsive.img-thumbnail(src="#{project.img}")
			.thumbnail-header
				h3 #{project.title}
			.thumbnail-caption
				p #{project.caption}
				p #{project.development}
			.thumbnail-footer
				if (project.link !== "")
					a.btn.btn-primary(href="#{project.link}" target="_blank" role="button") Visit Site
				else
					a.btn.btn-primary(role="button" disabled) Visit Site
				if (project.code !== "")
					a.pull-right.btn.btn-primary(href="#{project.code}" target="_blank" role="button") View Code
				else
					a.pull-right.btn.btn-primary(role="button" disabled) View Code

mixin tags(tags)
	h3
		span.glyphicon.glyphicon-tags
		|  Tags

	ul.list-unstyled
		each tag in tags
			li.list-element
				a(href='/tag?tag=#{tag}') #{tag}

mixin categories(categories)
	h3
		span.glyphicon.glyphicon-inbox
		|  Categories

	ul.list-unstyled
		each category in categories
			li.list-element
				a(href='/category?category=#{category}') #{category}

mixin archives(archives)
	h3
		span.glyphicon.glyphicon-calendar
		|  Archives

	ul.list-unstyled
		each archive in archives
			li.list-element
				a(href='/archive?year=#{archive}') #{archive}

mixin about_me
	h3
		span.glyphicon.glyphicon-info-sign
		|  About Me

	img.img-circle.img-responsive(alt='Zbynek Stara picture', src='/img/zbynek_stara_id.jpg')

	p I am Zbynek Stara, a sophomore student of Computer Science at NYU Abu Dhabi. I love to build cool things that can have real imapct in the world.
	p: a(href='/about') Learn more about me

mixin get_in_touch
	h3
		span.glyphicon.glyphicon-envelope
		|  Get in Touch

	ul.list-unstyled
		li.list-element: .clearfix
			img.pull-left.icon(src='/img/icon_facebook.png')
			a(href='https://facebook.com/zbynek.stara') Facebook
		li.list-element: .clearfix
			img.pull-left.icon(src='/img/icon_linkedin.png')
			a(href='https://www.linkedin.com/profile/view?id=280668105') LinkedIn
		li.list-element: .clearfix
			img.pull-left.icon(src='/img/icon_google_plus.png')
			a(href='https://plus.google.com/107509983825824981238') Google+
		li.list-element: .clearfix
			img.pull-left.icon(src='/img/icon_star.png')
			a(href='https://github.com/zbynekstara') GitHub
		li.list-element: .clearfix
			img.pull-left.icon(src='/img/icon_email.png')
			a(href='mailto:zbynek[dot]stara[dot]internet[at]hotmail[dot]com') Email